{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel='stylesheet' href='{% static "css/home.css" %}' type='text/css'/>
{% endblock %}

{% block content %}
<div id="fixed-width">
	<h1>Community Meeting: Police Body Cameras</h1>
	<h2>City of Oakland has spent $500,000 on body cameras for all OPD officers, but they often leave them off or stop recording when it matters. Let's get the community together and meet to figure out what to do about it.</h2>

	<div id="signup">
		<p>
			Sign up if you're interested in coming to a meeting. For availability just give a general description, for instance "after 5pm weekdays." We'll figure out a day and time that works for as many people as possible. Only the organizers can see your email address.
		</p>
		<form method=POST action=/>
		<h1>Sign Up</h1>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Sign up"/>
		</form>
	</div>

	<div id="registrations">
		<h1>
			There are <strong>{{registrations|length}}</strong> signups so far.
		</h1>
		<ul>
			{% for reg in registrations %}
			<li>
				<span class="first_name">{{reg.first_name}}</span>
				- <span class="email_address">(Email Address Hidden)</span>
				- <span class="availability">{{reg.availability}}</span>
			</li>
			{% endfor %}
		</ul>
	</div>
	<h1>See you soon!</h1>
</div>
{% endblock %}